.card {
    border: 1px solid #cecece;
    border-radius: 2px;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.skellington-line {
    width: 100%;
    background: #cecece;
    height: 18px;
    margin-top: 6px;

    &--title {
        height: 24px;
        margin-top: 0;
        margin-bottom: 12px;
        width: 80%;
    }
}
