:host {
    display: block;
    position: relative;
}

.card {
    border: 1px solid #cecece;
    border-radius: 2px;
    width: 100%;
    font-family: 'Arial';
    padding: 24px;
    box-sizing: border-box;
    display: block;
    position: relative;
}
