<div class="grid">

    <app-skellington-dummy
        skellington="app-skeletons"
        [skelloading]="loading$ | async"
        [props]="{ count: 4 }"
        class="grid__item"
    ></app-skellington-dummy>

    <app-skellington-dummy skellington [skelloading]="loading$ | async" class="grid__item"></app-skellington-dummy>
    <app-skellington-dummy skellington [skelloading]="loading$ | async" class="grid__item"></app-skellington-dummy>
    <app-skellington-dummy skellington [skelloading]="loading$ | async" class="grid__item"></app-skellington-dummy>

    <app-skellington-dummy skellington="app-skeletons" [skelloading]="loading$ | async" class="grid__item"></app-skellington-dummy>
</div>
