.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__item {
        margin: 6px;
        min-width: calc(50% - 12px);
        width: calc(50% - 12px);

        app-skellington {
            margin-bottom: 12px;
        }

        &.dark {
            --skellington-background-color: rgb(50, 50, 50);
        }

        &.rounded {
            --skellington-border-radius: 8px;
        }

        .actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__button {
                padding: 0;
                margin: 0;
                position: relative;
                width: 160px;
                height: 40px;
            }
        }
    }
}
